# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# VCS / IDE
.git/
.gitignore
.idea/
.vscode/

# Build / cache
dist/
build/
.coverage
.pytest_cache/
.mypy_cache/
ruff_cache/

# Node / frontend (если появится)
node_modules/

# Docker
docker/db-init/
Dockerfile
docker-compose*.yml

# Django
media/
staticfiles/

# Env
.env
.env.*